/* ---- parent ----*/

/* .header__section4--portfolio {} */

.static-bg {
    background-color: #111111FF;
}

.portfolio--films-collection {
    background-image: url("../webp/collections/COLLECTION\ PAGE\ BACKGROUND-min.webp");
    background-size: cover;
    max-width: 100%;
}

/* ---- display functions ----*/

.disp-none {
    display: none;
}

.disp-flex {
    display: flex;
}

/* ---- nav ul li div ----*/

.header__section4 nav ul div:nth-child(1){
    margin: 40px 90px 0 90px;
}

.header__section4 nav ul div:nth-child(2){
    margin: 40px 10px 0 20px;
}

.header__section4--portfolio-selection {
    padding-top: 0;
    padding-left: 50px;
    transform: scale(1.05);
}

.header__section4 div:nth-child(3){
    margin-top: 20px;
}

/* ---- portfolio nav ----*/

.header__section4--portfolio-nav {
    padding: 0 10px 0 10px;
    border-bottom: 2px solid white;
}

.header__section4--portfolio-nav--portfol {
    font-size: 30%;
    font-style: italic;
    text-transform: uppercase;
}

.header__section4--portfolio-nav--back {
    margin-left: auto;
    font-size: 20%;
}

/* ---- portfolio selection ----*/

.header__section4--portfolio-selection h6 {
    text-align: center;
    margin-top: 80%;
    text-transform: uppercase;
    font-size: 20%;
}

.header__section4--portfolio-nav--back:active,
.header__section4--portfolio-nav--back:hover,
.i-back:active,
.i-back:hover {
    cursor: pointer;
}

.header__section4--portfolio-selection--films,
.header__section4--portfolio-selection--gallery {
    width: 35%;
    height: 65vh;
    transform: scale(.90);
}

.header__section4--portfolio-selection--films:active,
.header__section4--portfolio-selection--films:hover,
.header__section4--portfolio-selection--gallery:active,
.header__section4--portfolio-selection--gallery:hover {
    cursor: pointer;
}

.header__section4--portfolio-selection--films-ch1,
.header__section4--portfolio-selection--gallery-ch2 {
    opacity: .7;
    transition: opacity .2s;
}


.header__section4--portfolio-selection--films-ch1:active,
.header__section4--portfolio-selection--films-ch1:hover,
.header__section4--portfolio-selection--gallery-ch2:active,
.header__section4--portfolio-selection--gallery-ch2:hover {
    opacity: 1;
    
}
.header__section4--portfolio-selection--films {
    background-image: url("../webp/films/vlcsnap-2021-03-26-18h33m07s744-min.webp");
    background-size: cover;
}

.header__section4--portfolio-selection--gallery {
    background-image: url("../webp/gallery/IMG_7270-min.webp");
    background-size: cover;
}

/* ---- extra functions ----*/

.back-icon-spacing {
    margin-left: 10px;
    font-size: 75%;
}

.text-smol {
    font-size: 50%;
}
