/* ---------------------------------- */
/* GLOBAL */
/* ---------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20;
}
.vh100 {
    height: 100vh;
}  

/* ---------------------------------- */
/* NAVIGATION */
/* ---------------------------------- */

.navigation {
    flex: 25%;
    box-shadow: 0px 0 5px black;
    z-index: 1;
}

/* ---- top-navigation ----*/

.top-navigation {
    list-style: none;
}

.top-navigation li {
    display: inline-block;
    margin-right: 10px;
}

.font-logo {
    color: black;
    font-size: 200%;
}

.ion-logo-youtube,
.ion-logo-instagram {
    transition: color .2s;
}

.ion-logo-youtube:hover{
    color: #FF0000;
}

.ion-logo-instagram:hover {
    color: #F58529;
}

/* ---- side-navigation ----*/

.side-navigation {
    list-style: none;
    margin-top: 70%;
    margin-left: -10%;
}

.side-navigation li {
    padding-top: 10%;
}

.side-navigation li a {
    color: black;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.side-navigation li a span {
    position: absolute;
    font-size: 225%;
    left: -35%;
}

.hide {
    opacity: 0;
}

.side-hover {
    transition: .2s;
}

.side-hover:active,
.side-hover:hover,
.active {
    opacity: 1;
}


/* .side-navigation li a:active,
.side-navigation li a:hover {

} */

/* ---- side-navigation ----*/

.established {
    margin-left: 5%;
    height: 25%;
    font-family: 'Raleway';
}

/* ---- title ----*/

.title-text {
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 3px;
}

.title-back {
    margin-left: auto;
}

.font-shift {
    position: absolute;
    font-size: 200%;
    margin-left: 10px;
}

/* ---------------------------------- */
/* MAIN PANEL */
/* ---------------------------------- */

.main-panel-title {
    margin-top: 5%;
}

.main-panel-title ul {
    list-style: none;
    margin: 0 7% 0 7%;
    border-bottom: 2px solid white;
}

.main-panel-title li {
    padding: 0 2.5% 0 2.5%;
}
.main-panel-title li a {
    color: white;
    text-decoration: none;
}